QWidget {
    background-color: white;
}

QPushButton#btn {
    background-color: rgb(204, 204, 204);
    padding: 8px 51px 8px 51px;
    font: 15px 'Microsoft YaHei';
    border: transparent;
    border-radius: 4px;
}

QPushButton#btn:pressed:hover {
    background-color: rgb(153, 153, 153);
}

QPushButton#btn:hover {
    background-color: rgb(230, 230, 230);
}

QPushButton#btn:disabled {
    background-color: rgb(204, 204, 204);
    color: rgb(122, 122, 122);
}