SettingCardGroup {
    background-color: transparent;
}

SettingCardGroup>QLabel {
    background-color: transparent;
    font: 20px 'Segoe UI', 'Microsoft YaHei';
    color: black;
    border: none;
}