Widget > QLabel {
    font: 24px 'Segoe UI', 'Microsoft YaHei';
}

Widget {
    background-color: rgb(249, 249, 249);
}

Window {
    background-color: rgb(249, 249, 249);
}

NavigationBar > QLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei';
}