PivotItem {
    padding: 10px 12px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

PivotItem[isSelected=true]:hover {
    color: rgba(255, 255, 255, 0.63);
}

PivotItem[isSelected=true]:pressed {
    color: rgba(255, 255, 255, 0.53);
}

PivotItem[isSelected=false]:pressed {
    color: rgba(255, 255, 255, 0.75);
}

Pivot {
    border: none;
    background-color: transparent;
}

#view {
    background-color: transparent;
}