StateToolTip,
ToastToolTip {
    background-color: rgb(0, 107, 131);
    border: none;
    border-radius: 7px;
}

QLabel#titleLabel {
    color: white;
    background-color: transparent;
    font: 14px 'Segoe UI', 'Microsoft YaHei';
}

QLabel#contentLabel {
    color: white;
    background-color: transparent;
    font: 13px 'Segoe UI', 'Microsoft YaHei';
}