#titleLabel {
    font: 14px --FontFamilies;
    font-weight: bold;
    color: white;
    background-color: transparent;
}

#contentLabel {
    font: 14px --FontFamilies;
    color: white;
    background-color: transparent;
}