QWidget {
    background-color: white;
}

QPushButton {
    background-color: rgb(204, 204, 204);
    padding: 8px 51px 8px 51px;
    font: 15px 'Microsoft YaHei';
    border: transparent;
    border-radius: 4px;
}

QPushButton:pressed:hover {
    background-color: rgb(153, 153, 153);
}

QPushButton:hover {
    background-color: rgb(230, 230, 230);
}

QPushButton:disabled {
    background-color: rgb(204, 204, 204);
    color: rgb(122, 122, 122);
}
