StateToolTip,
ToastToolTip {
    background-color: --ThemeColorDark1;
    border: none;
    border-radius: 7px;
}

QLabel {
    color: white;
    background-color: transparent;
    font-family: --FontFamilies;
    border: none;
}

QLabel#titleLabel {
    font-size: 14px;
}

QLabel#contentLabel {
    font-size: 13px;
}