SettingInterface,
#view {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}


BannerWidget > #galleryLabel {
    font: 42px 'Segoe UI', 'Microsoft YaHei';
    font-weight: bold;
    background-color: transparent;
    color: white;
    padding-left: 28px;
}
